  <style>


  .home-bg-image {
      width: 100%;
      height: auto; 
      max-height: 800px; 
      object-fit: cover;
      /* width: 100%;
      height: auto; 
      max-height: 450px; 
      object-fit: cover; */
  }
    /* progressive css */
    /* .progressive-image {
      filter: blur(20px);
      transition: filter 0.5s ease;
    }

    .progressive-image.loaded {
      filter: blur(0);
    } */
  </style>
  
  <div class="container-fluid p-0" style="overflow: hidden;">
    <div class="row">

      <% @landings.each do |home| %>
        <div class="position-relative p-0">
          <% if home.image.present? %>
            <%= image_tag home.image, 
                  loading: "lazy", 
                  class: "img-fluid home-bg-image progressive-image", 
                  alt: "Landing image" %>
          <% else %>
            <p class="text-muted">No image available</p>
          <% end %>
        </div>
      <% end %>


      <%= render partial: 'layouts/newrelease' %>
      <%= render partial: 'layouts/video' %>
      <%= render partial: 'layouts/upcoming_event' %>
    </div>


  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const images = document.querySelectorAll(".progressive-image");

      images.forEach((img) => {
        if (img.complete) {
          img.classList.add("loaded");
        } else {
          img.addEventListener("load", () => {
            img.classList.add("loaded");
          });
        }
      });
    });
  </script>

