<style>


.home-bg-image {
    width: 100%;
    height: auto; 
    max-height: 800px; 
    object-fit: cover;
}

</style>

<div class="container-fluid p-0" style="overflow: hidden;">
  <div class="row">
    <div class="position-relative p-0">
      <%= image_tag "home-bg-image.jpg", alt: "Company Logo", class: "w-100 home-bg-image" %>
      <h5 class="position-absolute bottom-0 start-50 translate-middle-x text-white mb-5 py-2">
         Oud player Composer Educator
      </h5>

    </div>


    <%= render partial: 'layouts/newrelease' %>
    <%= render partial: 'layouts/video' %>
    <%= render partial: 'layouts/upcoming_event' %>
  </div>
</div>

