<style>


.home-bg-image {
    width: 100%;
    height: auto; /* Let the image maintain its natural aspect ratio */
    max-height: 800px; /* Adjust this as needed */
    object-fit: cover; /* Ensures the whole image is visible without cropping */
}

</style>

<div class="container-fluid">
  <%= image_tag "home-bg-image.jpg", alt: "Company Logo", class: "home-bg-image" %>
</div>
