    <style>
        @media (min-width: 768px) {
            .show-pressquoute-image {
            aspect-ratio: 1/0.9;
            object-fit: fill;
            border : 2px solid grey;
            border-radius: 12px;
            }
            }

            @media (max-width: 768px) {
            .show-pressquoute-image {
              aspect-ratio: 1/0.9;
              object-fit: fill;
              border : 2px solid grey;
              border-radius: 12px;
            }
            }
            
            @media (min-width: 1024px) {
            .pressquoute-black-text-box{
                background-color: #1b1b1b;
                border: 2px solid grey;
                border-radius: 12px;
            }
        }

              /* progressive css */
    .progressive-image {
      filter: blur(20px);
      transition: filter 0.5s ease;
    }

    .progressive-image.loaded {
      filter: blur(0);
    }
    </style>

    <div class="container">
        
       <div class="text-center mt-2 gap-2 d-md-flex justify-content-center text-white mt-5">
            <h4 class="text-center text-white caudex-bold p-0 m-0">PRESS QUOTES</h4>
        </div>
            <% @pressquoutes.each do |pressquoute| %>
           <div class="row text-white px-md-5 px-2 mt-5">
                 <div class="col-lg-6 d-flex flex-column pe-md-4">
                    <% if pressquoute.image.attached? %>
                        <img src="<%= url_for(pressquoute.image) %>" class="img-fluid show-pressquoute-image progressive-image" loading="lazy">
                    <% end %>
                </div>
                <div class="col-lg-6 d-flex pressquoute-black-text-box">
                    <div class="description py-2">
                    <p><%= pressquoute.text %></p>
                    </div>
                </div>
            </div>    
            <% end %>
       
    </div>

<script>
        // progressive image js
    document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll(".progressive-image");

      images.forEach((img) => {
        img.addEventListener("load", () => {
          img.classList.add("loaded");
        });
        if (img.complete) {
          img.classList.add("loaded");
        }
      });
    });
</script>    






