
 <style>

  @media (min-width: 768px) {
    .box .pressquoute-image {
      float: left;
      width: 590px;
      height: 400px;
      border-radius: 20px;
      object-fit: fill;
       }
      }

  @media (max-width: 768px) {
      .box .pressquoute-image {
      float: left;
      width: 100%;
      height: 280px;
      border-radius: 20px;
      object-fit: fill;
        }
      }

    /* Animation Classes */
    .fade-in {
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .fade-in.visible {
      opacity: 1;
      transform: translateY(0);
    }

    /* progressive css */
    .progressive-image {
      filter: blur(20px);
      transition: filter 0.5s ease;
    }

    .progressive-image.loaded {
      filter: blur(0);
    }
  </style>

  <div class="container">
   
       <div class="py-4 text-white fade-in">
          <p class="text-center text-white caudex-bold m-0" style="font-size: 22px;">PRESS QUOTES</p>
      </div>
       
      <div class="row">
          <div class="box fade-in">

             <% @pressquoutes.each do |pressquoute| %>
                <% if pressquoute.image.present? %>
                  <%= image_tag pressquoute.image,
                    loading: "lazy", 
                    class: "img-fluid pressquoute-image progressive-image p-2 fade-in", 
                    alt: "About image",
                    data: { src: url_for(pressquoute.image) } %>
                <% end %>

                <div class="text text-white px-2 pt-1 fade-in">
                    <%= pressquoute.text %>
                </div>

              <% end %>
          </div>

      </div>
   
  </div>

    <script>
        // animation js
    document.addEventListener("DOMContentLoaded", function () {
      const elements = document.querySelectorAll('.fade-in');

      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add('visible');
            observer.unobserve(entry.target);
          }
        });
      }, {
        threshold: 0.1
      });

      elements.forEach(el => observer.observe(el));
    });

    // progressive image loading
    document.addEventListener("DOMContentLoaded", function () {
      const images = document.querySelectorAll(".progressive-image");

      images.forEach((img) => {
        if (img.complete) {
          img.classList.add("loaded");
        } else {
          img.addEventListener("load", () => {
            img.classList.add("loaded");
          });
        }
      });
    });
  </script>










