
<style>
  .video-card {
    width: 100%; 
    max-width: 400px;
    height: 250px;
    object-fit: cover;
  }
</style>



<div class="container px-md-5">
  <h2 class="text-center text-white pt-md-5 pt-3 caudex-bold">Video</h2>
  <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 pt-md-5 pt-3">
      <% @videos.each do |video| %>
          <div class="col mt-4 text-center">
              <% if video.video.attached? %>
                  <video class="img-fluid video-card" controls>
                      <source src="<%= url_for(video.video) %>" type="video/mp4">
                      Your browser does not support the video tag.
                  </video>
              <% end %>
              <h5 class="caudex-bold text-white mt-2"><%= video.name %></h5>
          </div>
      <% end %>
  </div>
</div>
