    <style>
      @media (min-width: 1024px) {
        .contact-bg-image{
        width: 70%;
        border-radius: 15px;
      }
    }

      @media (min-width: 1024px) {
      .contact-corder{
        border: 2px solid grey;
        border-radius: 12px;
      }
      }
    </style>

    <div class="container">
    <h2 class="text-center text-white pt-md-5 pt-3 caudex-bold">CONTACT</h2>
    <div class="row mt-5 contact-corder py-4 px-3">
        <div class="col-md-6">
            <%= image_tag "biography/biography-first-image.jpg", alt: "Company Logo", class: "img-fluid contact-bg-image" %>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center mt-md-0 mt-4">
          <form action="post">
            <div class="mb-3">
                <input type="text" class="form-control py-2" placeholder="Name" required>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control py-2" placeholder="Email" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control" rows="5" placeholder="Message" required></textarea>
            </div>

            <div class="row mt-md-5 mt-3">
              <a href="/news" style="text-decoration: none;">
                <button class="comman-bg-color py-2 px-4 justify-content-center align-item-center" style="border: 2px solid #08f; border-radius: 12px; color: white;">
                    <h5 class="mt-1" style="font-size: 20px;">Send message</h5>
                </button>
              </a>
            </div>
            
            <div class="row text-white d-flex align-items-center mt-md-5 mt-3 g-3">
              <div class="col-12 col-md-8">
                  <input type="text" class="form-control py-3" placeholder="Your email" required>
              </div>
              <div class="col-12 col-md-4 text-md-end text-center">
                  <button class="py-3 px-4 rounded border-0 w-100 w-md-auto">Subscribe</button>
              </div>
          </div>
          

        </form>
        </div>
    </div>
    </div>

