
  <style>
    .project-image {
        height: 30rem;
        width: 100%;
        object-fit: contain;
    }
  </style>

  <div class="container">
    <h2 class="text-center text-white pt-md-5 pt-3 caudex-bold">PROJECT</h2>
    <div class="row text-white px-5">
        <div class="text-center mt-2 gap-2 d-flex justify-content-center">
            <p><%= @project.name %></p>
        </div>
        
          <% @project.project_details.each do |detail| %>
            <% if detail.image.attached? %>
                <img src="<%= url_for(detail.image) %>" class="img-fluid project-image">
            <% end %>
            <div class="description mt-5">
                <p><%= detail.description %></p>
            </div>
            <% end %>
              <buttonc><a href="<%= projects_path %>" class="btn btn-secondary px-5">Go Back</a></buttonc>
      </div>
     </div>
