  <style>
    @media (min-width: 768px) {
      .media-wrapper {
        height: 25rem;
      }

      .show-project-image,
      .youtube-frame {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: 2px solid grey;
        border-radius: 12px;
      }
    }

    @media (max-width: 767px) {
      .media-wrapper {
        height: 12rem;
      }

      .show-project-image,
      .youtube-frame {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: 2px solid grey;
        border-radius: 12px;
      }
    }
  </style>

  <div class="container">
    <div class="text-center mt-2 justify-content-center text-white mt-5 caudex-bold text-white">
      <h5><%= @project.name %></h5>
    </div>
  <div class="row text-white px-md-5 px-2 mt-5">
    <% @project.project_details.each do |detail| %>
      <!-- Left Column: Image -->
      <div class="col-lg-6">
        <% if detail.image.attached? %>
          <div class="media-wrapper mb-3">
            <img src="<%= url_for(detail.image) %>" class="img-fluid show-project-image">
          </div>
        <% end %>
      </div>

      <!-- Right Column: YouTube -->
      <div class="col-lg-6">
        <% if detail.youtube_url.present? %>
          <% youtube_id = detail.youtube_url[/(?:youtu\.be\/|youtube\.com\/(?:watch\?v=|embed\/))([\w-]+)/, 1] %>
          <% if youtube_id.present? %>
            <div class="media-wrapper mb-3">
              <iframe class="youtube-frame"
                src="https://www.youtube.com/embed/<%= youtube_id %>"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          <% end %>
        <% end %>
      </div>

      <!-- Description -->
      <div class="description py-2">
        <p><%= detail.description %></p>
      </div>
    <% end %>
  </div>
  </div>
