
  <style>
    @media (min-width: 768px) {
        .show-project-image {
        height: 30rem;
        width: 100%;
        object-fit: contain;
        }
        }

        @media (max-width: 768px) {
        .show-project-image {
        height: 21rem;
        width: 100%;
        object-fit: contain;
        }
        }
  </style>

  <div class="container">
    <h2 class="text-center text-white pt-md-5 pt-3 caudex-bold">PROJECT</h2>
    <div class="row text-white px-md-5 px-2">
       <div class="text-center mt-2 justify-content-center">
            <h5><%= @project.name %></h5>
        </div>
        
          <% @project.project_details.each do |detail| %>
            <% if detail.image.attached? %>
                <img src="<%= url_for(detail.image) %>" class="img-fluid show-project-image mt-2">
            <% end %>
           <div class="description mt-md-4 mt-2">
                <p><%= detail.description %></p>
            </div>
            <% end %>
            <div class="project-btn">
              <%= link_to "Go Back", projects_path, class: "btn btn-secondary px-5 rounded" %>
            </div>
            
      </div>
     </div>
