
  <style>
    @media (min-width: 768px) {
        .show-project-image {
        height: 30rem;
        width: 100%;
        object-fit: contain;
        }
        }

        @media (max-width: 768px) {
        .show-project-image {
        height: 15rem;
        width: 100%;
        object-fit: contain;
        }
        }
  </style>

  <div class="container">
    <h2 class="text-center text-white pt-md-5 pt-3 caudex-bold">PROJECT</h2>
    <div class="row text-white px-md-5 px-2">
       <div class="text-center mt-2 justify-content-center">
            <h5><%= @project.name %></h5>
        </div>
        
          <% @project.project_details.each do |detail| %>
            <% if detail.image.attached? %>
                <img src="<%= url_for(detail.image) %>" class="img-fluid show-project-image mt-2">
            <% end %>
           <div class="description mt-md-4 mt-2">
                <p><%= detail.description %></p>
            </div>
            <% end %>

            <div class="back-button">
              <a href="/projects" style="text-decoration: none;">
                <button class="comman-bg-color mt-3" style="border: 2px solid #08f; border-radius: 12px; color: white;">
                  <div class="d-flex justify-content-center align-items-center gap-2 caudex-bold py-2 px-4">
                    <i style="font-size: 20px;" class="bi bi-chevron-left"></i>
                    <span style="font-size: 20px;">Go Back</span>
                  </div>
                </button>
              </a>
            </div>
            
      </div>
     </div>
