
  <style>
    @media (min-width: 768px) {
        .show-project-image {
            height: 30rem;
            width: 100%;
            object-fit: contain;
        }
        }

        @media (max-width: 768px) {
        .show-project-image {
            height: 15rem;
            width: 100%;
            object-fit: contain;
        }
        }
     @media (min-width: 1024px) {
      .project-black-text-box{
        background-color: #1b1b1b;
        border: 2px solid grey;
        border-radius: 12px;
      }
        }
  </style>

  <div class="container">
      <div class="text-center mt-2 justify-content-center text-white mt-5">
            <h5><%= @project.name %></h5>
      </div>
    <div class="row text-white px-md-5 px-2">
        
          <% @project.project_details.each do |detail| %>
          <div class="col-lg-6 d-flex pe-md-4 mt-md-5">
            <% if detail.image.attached? %>
                <img src="<%= url_for(detail.image) %>" class="img-fluid show-project-image">
            <% end %>
          </div>
           <div class="col-lg-6 d-flex project-black-text-box mt-md-5">
              <div class="description py-2">
                <p><%= detail.description %></p>
              </div>
           </div>
            <% end %>

          <div class="">
            <a href="/projects" style="text-decoration: none;">
              <button class="back-button mt-3" style="border: 2px solid blue; border-radius: 12px; color: white;">
                <div class="d-flex justify-content-center align-items-center gap-2 caudex-bold py-2 px-4">
                  <i style="font-size: 20px;" class="bi bi-chevron-left"></i>
                  <span style="font-size: 20px;">Go Back</span>
                </div>
              </button>
            </a>
          </div> 
      </div>
     </div>
