
  <style>

      @media (min-width: 768px) {
    .box img {
      float: left;
      width: 500px;
      height: 400px;
      border-radius: 20px;
       }
      }

      @media (max-width: 768px) {
      .box img {
      float: left;
      width: 500px;
      height: 300px;
      border-radius: 20px;
        }
      }
  </style>

  <div class="container">
    <div class="py-md-5 py-4">
         <h4 class="text-center text-white caudex-bold p-0 m-0">ABOUT</h4>
     </div>
      <div class="row">
          <div class="box">
            <% @aboutus.each do |about| %>
            
            <% if about.image&.attached? %>
              <%= image_tag about.image, alt: "About Image", class: "img-fluid aboutus-image px-2 pb-2" %>
            <% end %>

            <div class="text text-white px-2">
                <%= about.text.body.to_s.html_safe %>
            </div>
         <% end %>

        </div>
      </div>
  </div>