  <style>
    .photo-image {
      aspect-ratio: 1.7/1.6;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    .photo-image.loaded {
      opacity: 1;
    }
  </style>
  <%= render partial: 'layouts/loader' %>
  <div class="container px-md-5">
        <div class="py-5">
         <h4 class="text-center text-white caudex-bold p-0 m-0">PHOTOS</h4>
     </div>
    <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1">
      <% @photos.each do |photo| %>
        <div class="col mt-4 text-center">
          <% if photo.photo.attached? %>
            <img loading="lazy" data-src="<%= url_for(photo.photo) %>" class="img-fluid news-image photo-image lazy-seq-img" alt="photo" />

          <% end %>
          <h5 class="caudex-bold text-white pt-3"><%= photo.name %></h5>
        </div>
      <% end %>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const images = Array.from(document.querySelectorAll('.lazy-seq-img'));

      function loadNextImage(index) {
        if (index >= images.length) return;

        const img = images[index];
        const src = img.getAttribute('data-src');

        if (src) {
          const preloadImg = new Image();
          preloadImg.src = src;

          preloadImg.onload = () => {
            img.src = src;
            img.classList.add('loaded');
            // Load next image immediately after current one starts fading
            setTimeout(() => loadNextImage(index + 1), 100); // 100ms delay
          };

          preloadImg.onerror = () => {
            loadNextImage(index + 1);
          };
        } else {
          loadNextImage(index + 1);
        }
      }

      loadNextImage(0);
    });
  </script>


