  .comman-bg-color{
    background-color: #181d23;
  }
  .overlay{
    background: linear-gradient(180deg, rgba(41, 43, 44, 1) 0%, rgba(41, 43, 44, 0) 100%);
    /* opacity: 0.9; */
  }
  .back-button{
    background-color: #221133;
  }



  @font-face {
    font-family: "fa-regular";
    src: url("/fonts/fa-regular-400.ttf") format("truetype");
  }
  
  .caudex-bold {
    font-family: "fa-regular";
    font-weight: 600;
  }

  .caudex-normal {
    font-family: "fa-regular";
    font-weight: 400;
  }