@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alfaslabone/v19/6NUQ8FmMKwSEKjnm5-4v-4Jh2dJhfg.ttf) format('truetype');
}
@font-face {
  font-family: 'Caudex';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/caudex/v17/esDS311QOP6BJUr4yMKDtb8.ttf) format('truetype');
}
@font-face {
  font-family: 'Caudex';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/caudex/v17/esDV311QOP6BJUr4yMo4kK8BMpA.ttf) format('truetype');
}
@font-face {
  font-family: 'Caudex';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/caudex/v17/esDQ311QOP6BJUr4zfKE.ttf) format('truetype');
}
@font-face {
  font-family: 'Caudex';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/caudex/v17/esDT311QOP6BJUrwdteUkp8G.ttf) format('truetype');
}
