		<div class="section-wrapper" data-id="cnI6o7">
      <section class="wp-block-gutenverse-section guten-element guten-section guten-cnI6o7 layout-boxed align-stretch">
        <div class="guten-container guten-column-gap-no">
		<div class="wp-block-gutenverse-column guten-element guten-column guten-3SocYD">
      <div class="guten-column-wrapper" data-id="3SocYD">
		<div class="section-wrapper" data-id="5nCPyW">
    <!-- <section class="wp-block-gutenverse-section guten-element guten-section guten-5nCPyW layout-fullwidth align-stretch" style="border: 2px solid red;"><div class="guten-container guten-column-gap-no">
		<div class="wp-block-gutenverse-column guten-element guten-column guten-hul63M"><div class="guten-column-wrapper" data-id="hul63M">
		<h2 class="wp-block-gutenverse-heading guten-element guten-UHbRGv">Subscribe To Our Newsletter</h2>



		<div class="guten-element gutenverse-text-editor guten-Agbb8n"><div class="text-content-inner">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
		</div></div>
		</div></div>



		<div class="wp-block-gutenverse-column guten-element guten-column guten-UFNyst"><div class="guten-column-wrapper" data-id="UFNyst">
		<form style="display:none" class="guten-element guten-form-builder guten-yDlUju" data-form-id="84">
		<div class="section-wrapper" data-id="TyjylC"><section class="wp-block-gutenverse-section guten-element guten-section guten-TyjylC layout-boxed align-stretch"><div class="guten-container guten-column-gap-no">
		<div class="wp-block-gutenverse-column guten-element guten-column guten-oEjU0m"><div class="guten-column-wrapper" data-id="oEjU0m">
		<div class="guten-element guten-form-input-email guten-form-input guten-input-position-top guten-OIX5pc hide-label hide-helper"><div class="label-wrapper"></div><div class="main-wrapper"><input data-validation="{&quot;type&quot;:&quot;email&quot;,&quot;required&quot;:false,&quot;validationType&quot;:&quot;none&quot;,&quot;validationWarning&quot;:&quot;Input Invalid&quot;}" placeholder="Your Email" name="input-email" class="gutenverse-input gutenverse-input-email" type="email"/><div class="validation-error">Input Invalid</div></div></div>
		</div></div>



		<div class="wp-block-gutenverse-column guten-element guten-column guten-DFGLMv"><div class="guten-column-wrapper" data-id="DFGLMv">
		<div class="guten-element guten-button-wrapper guten-submit-wrapper guten-lO9b0V"><div class="form-notification"></div><button class="guten-button gutenverse-input-submit guten-button-sm" type="submit"><span>Subscribe</span></button><div class="gutenverse-input-submit-loader"><i class="fas fa-spinner fa-spin"></i></div></div>
		</div></div>
		</div></section></div>
		</form>
		</div></div>
		</div></section> -->
	</div>



		<div class="section-wrapper" data-id="OsJYm8"><section class="wp-block-gutenverse-section guten-element guten-section guten-OsJYm8 layout-boxed align-stretch"><div class="guten-shape-divider guten-shape-divider-top"></div><div class="guten-container guten-column-gap-no">
		<div class="wp-block-gutenverse-column guten-element guten-column guten-7sq7xW"><div class="guten-column-wrapper" data-id="7sq7xW">
		<div class="section-wrapper" data-id="NXviMF"><section class="wp-block-gutenverse-section guten-element guten-section guten-NXviMF layout-boxed align-stretch"><div class="guten-container guten-column-gap-no">
		<div class="wp-block-gutenverse-column guten-element guten-column guten-XAeNND"><div class="guten-column-wrapper" data-id="XAeNND">
		<div class="wp-block-gutenverse-image guten-element guten-image guten-FHDgZG"><div class="guten-image-wrapper">
		   <!-- <img loading="lazy" decoding="async" class="gutenverse-image-box-filled" src="https://fse.jegtheme.com/randai/wp-content/uploads/sites/57/2025/02/new-logo-randai.png" height="257" width="954"/> -->
			 <%= image_tag "logo.png", alt: "Bearded Male", decoding: "async" %>
		</div>
		</div>



		<div class="guten-element guten-icon-list guten-jApaK2">
		<div class="guten-element guten-icon-list-item guten-OY4kWq"><a id="guten-OY4kWq" href="#"><span class="list-text no-icon">L : 189 Sunset Road Street, Denpasar, DU 1199</span></a></div>



		<div class="guten-element guten-icon-list-item guten-UQf2tV"><a id="guten-UQf2tV" href="#"><span class="list-text no-icon">P : +(62) 800-567-8990</span></a></div>



		<div class="guten-element guten-icon-list-item guten-XKQ6Vf"><a id="guten-XKQ6Vf" href="#"><span class="list-text no-icon">E : <span class="__cf_email__" data-cfemail="c3a0acadb7a2a0b783a7acaea2aaadeda0acae">[email&#160;protected]</span></span></a></div>



		<div class="guten-element guten-icon-list-item guten-qnC8lZ"><a id="guten-qnC8lZ" href="#"><span class="list-text no-icon">F : (900) 1280-0821​</span></a></div>
		</div>
		</div></div>



		<div class="wp-block-gutenverse-column guten-element guten-column guten-melquc"><div class="guten-column-wrapper" data-id="melquc">
		<h3 class="wp-block-gutenverse-heading guten-element guten-Gqm4Es">Quick Links </h3>



		<div class="wp-block-gutenverse-divider guten-element guten-divider guten-LhlozH"><div class="guten-divider-wrapper"><div class="guten-divider-default guten-divider-line guten-divider-regular"></div></div></div>



		<div class="guten-element guten-icon-list guten-eJivCi">
				<div class="guten-element guten-icon-list-item guten-9JEgKV"><a id="guten-9JEgKV" href="/"><span class="list-text no-icon">Home</span></a></div>
				<div class="guten-element guten-icon-list-item guten-3wi0GD"><a id="guten-3wi0GD" href="/biography"><span class="list-text no-icon">Biography</span></a></div>
				<div class="guten-element guten-icon-list-item guten-EFn3uA"><a id="guten-EFn3uA" href="/news"><span class="list-text no-icon">News</span></a></div>
				<div class="guten-element guten-icon-list-item guten-afDfIm"><a id="guten-afDfIm" href="/calendar"><span class="list-text no-icon">Calendar</span></a></div>
				<div class="guten-element guten-icon-list-item guten-afDfIm"><a id="guten-afDfIm" href="/projects"><span class="list-text no-icon">Projects</span></a></div>
				<div class="guten-element guten-icon-list-item guten-afDfIm"><a id="guten-afDfIm" href="/music"><span class="list-text no-icon">Music</span></a></div>
				<div class="guten-element guten-icon-list-item guten-afDfIm"><a id="guten-afDfIm" href="/video"><span class="list-text no-icon">Video</span></a></div>
				<div class="guten-element guten-icon-list-item guten-afDfIm"><a id="guten-afDfIm" href="/press"><span class="list-text no-icon">Press</span></a></div>
    </div>
		</div>
	</div>



		<div class="wp-block-gutenverse-column guten-element guten-column guten-QvhyJG"><div class="guten-column-wrapper" data-id="QvhyJG">
		<h3 class="wp-block-gutenverse-heading guten-element guten-Mjd4GM">Useful Links </h3>



		<div class="wp-block-gutenverse-divider guten-element guten-divider guten-lwuNgQ"><div class="guten-divider-wrapper"><div class="guten-divider-default guten-divider-line guten-divider-regular"></div></div></div>



		<div class="guten-element guten-icon-list guten-DA7nY9">
		<div class="guten-element guten-icon-list-item guten-yUK53b"><a id="guten-yUK53b" href="#"><span class="list-text no-icon">FAQ </span></a></div>



		<div class="guten-element guten-icon-list-item guten-bUiFPT"><a id="guten-bUiFPT" href="#"><span class="list-text no-icon">Support </span></a></div>



		<div class="guten-element guten-icon-list-item guten-LnxXWi"><a id="guten-LnxXWi" href="#"><span class="list-text no-icon">Privacy Policy </span></a></div>



		<div class="guten-element guten-icon-list-item guten-MniZ6g"><a id="guten-MniZ6g" href="#"><span class="list-text no-icon">Terms and Conditions</span></a></div>
		</div>
		</div></div>



		<div class="wp-block-gutenverse-column guten-element guten-column guten-wsp50o"><div class="guten-column-wrapper" data-id="wsp50o">
		<h3 class="wp-block-gutenverse-heading guten-element guten-Q7uuCU">Ticket Office Hours​ </h3>



		<div class="wp-block-gutenverse-divider guten-element guten-divider guten-oOD4Ac"><div class="guten-divider-wrapper"><div class="guten-divider-default guten-divider-line guten-divider-regular"></div></div></div>



		<div class="guten-element guten-icon-list guten-eqyK9S">
		<div class="guten-element guten-icon-list-item guten-1aZGW4"><a id="guten-1aZGW4"><span class="list-text no-icon">Mon – Tue : 09 AM &#8211; 09 PM </span></a></div>



		<div class="guten-element guten-icon-list-item guten-EmHo8i"><a id="guten-EmHo8i"><span class="list-text no-icon">Wed – Thu : 09 AM &#8211; 08 PM </span></a></div>



		<div class="guten-element guten-icon-list-item guten-dDksAM"><a id="guten-dDksAM"><span class="list-text no-icon">Fri – Sat : 09 AM &#8211; 07 PM </span></a></div>



		<div class="guten-element guten-icon-list-item guten-opd1kG"><a id="guten-opd1kG"><span class="list-text no-icon">Sunday : Closed</span></a></div>
		</div>
		</div></div>
		</div></section></div>



		<div class="section-wrapper" data-id="cXo9Nh"><section class="wp-block-gutenverse-section guten-element guten-section guten-cXo9Nh layout-boxed align-stretch"><div class="guten-container guten-column-gap-no">
		<div class="wp-block-gutenverse-column guten-element guten-column guten-jqK2rV"><div class="guten-column-wrapper" data-id="jqK2rV">
		<div class="guten-element gutenverse-text-editor guten-EP64gS"><div class="text-content-inner">
		<p>Culture Entertainment &amp; Theater WordPress Theme by&nbsp;<a href="https://gutenverse.com/" target="_blank" rel="noreferrer noopener">Gutenverse Blocks Addons.</a></p>
		</div></div>
		</div></div>



		<div class="wp-block-gutenverse-column guten-element guten-column guten-yVb4al"><div class="guten-column-wrapper" data-id="yVb4al">
		<div class="guten-element guten-social-icons guten-56vDqg square horizontal custom">
		<div class="guten-element guten-social-icon guten-J8KAPi facebook"><a id="guten-J8KAPi" href="#"><i class="gtn gtn-facebook-f"></i></a></div>



		<div class="guten-element guten-social-icon guten-7IsgsO twitter"><a id="guten-7IsgsO" href="#"><i class="fab fa-x-twitter"></i></a></div>



		<div class="guten-element guten-social-icon guten-eSFKnP youtube"><a id="guten-eSFKnP" href="#"><i class="fab fa-youtube"></i></a></div>



		<div class="guten-element guten-social-icon guten-3gViJC whatsapp"><a id="guten-3gViJC" href="#"><i class="gtn gtn-whatsapp-1-light"></i></a></div>



		<div class="guten-element guten-social-icon guten-cfVBiF telegram"><a id="guten-cfVBiF" href="#"><i class="gtn gtn-telegram-plane"></i></a></div>
		</div>
		</div></div>
		</div></section></div>
		</div></div>
		</div></section></div>
		</div></div>
		</div>
      </section>
    </div>