		<div class="section-wrapper" data-id="9zEWLa">
			<section class="wp-block-gutenverse-section guten-element guten-section guten-9zEWLa layout-fullwidth align-stretch">
				<div class="guten-container guten-column-gap-no">
		     <div class="wp-block-gutenverse-column guten-element guten-column guten-3dqaNX">
			    <div class="guten-column-wrapper" data-id="3dqaNX">

		  <div class="section-wrapper" data-id="7bkSHX">
					<section class="wp-block-gutenverse-section guten-element guten-section guten-7bkSHX hide-mobile layout-fullwidth align-stretch">
							<div class="guten-container guten-column-gap-default">
					      <div class="wp-block-gutenverse-column guten-element guten-column guten-eEBVXD">
						     <div class="guten-column-wrapper" data-id="eEBVXD">
								<div class="guten-element guten-icon-list guten-ir7WDt inline-icon-list">
								<div class="guten-element guten-icon-list-item guten-MuFWGY"><a id="guten-MuFWGY"><span class="list-text no-icon">Phone : +(62) 800-567-8990</span></a></div>
								<div class="guten-element guten-icon-list-item guten-2zy6LS"><a id="guten-2zy6LS"><span class="list-text no-icon">Email : <span class="__cf_email__" data-cfemail="72111d1c0613110632161d1f131b1c5c111d1f">[email&#160;protected]</span></span></a></div>
								<div class="guten-element guten-icon-list-item guten-EgVKEp"><a id="guten-EgVKEp"><span class="list-text no-icon">Opening Hours : Mon &#8211; Sat : 09:00 &#8211; 21:00</span></a></div>
								</div>
					</div>
				</div>
					<div class="wp-block-gutenverse-column guten-element guten-column guten-12xCHb hide-tablet"><div class="guten-column-wrapper" data-id="12xCHb">
					<div class="guten-element guten-social-icons guten-mUjODx circle horizontal fill">
					<div class="guten-element guten-social-icon guten-3V9TtU facebook"><a id="guten-3V9TtU" href="#"><i class="gtn gtn-facebook-light"></i></a></div>
					<div class="guten-element guten-social-icon guten-COADjl twitter"><a id="guten-COADjl" href="#"><i class="fab fa-x-twitter"></i></a></div>
					<div class="guten-element guten-social-icon guten-62F8vx youtube"><a id="guten-62F8vx" href="#"><i class="gtn gtn-youtube-v-light"></i></a></div>
					<div class="guten-element guten-social-icon guten-KzcWDQ whatsapp"><a id="guten-KzcWDQ"><i class="gtn gtn-whatsapp-1-light"></i></a></div>
					<div class="guten-element guten-social-icon guten-B3xOrE telegram"><a id="guten-B3xOrE" href="#"><i class="fab fa-telegram"></i></a></div>
					</div>
					</div>
				   </div>
					</div>
				</section>
			</div>



				<div class="section-wrapper" data-id="TOpbbD">
					<section class="wp-block-gutenverse-section guten-element guten-section guten-TOpbbD layout-fullwidth align-stretch">
						<div class="guten-container guten-column-gap-default">
						<div class="wp-block-gutenverse-column guten-element guten-column guten-YgQ4H7">
								<!-- lo -->
								  
						</div>

					<div class="wp-block-gutenverse-column guten-element guten-column guten-SmLu21">
						<div class="guten-column-wrapper" data-id="SmLu21">
							<div id="guten-Sjn7Hg" class="guten-element guten-nav-menu nav-menu break-point-tablet submenu-click-title " data-item-indicator="gtn gtn-down-arrow1-light" data-close-on-click="1">
								<div class="gutenverse-hamburger-wrapper">
									<button class="gutenverse-hamburger-menu">
										<i aria-hidden="true" class="gtn gtn-menu-11-light"></i>
									</button>
								</div>
								
								<div class="gutenverse-menu-wrapper"><div class="gutenverse-menu-container"><ul id="menu-randai-1" class="gutenverse-menu"><li id="menu-item-71" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-71"><a href="/" aria-current="page">Home</a></li>
										<li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-72"><a href="/about">Biography</a>
											<ul class="sub-menu">
												<li id="menu-item-73" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73"><a href="/team">News</a></li>
											</ul>
										</li>
									<li id="menu-item-74" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-74"><a href="#">Features</a>
									<ul class="sub-menu">
										<li id="menu-item-75" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75"><a href="/calendar">Calendar</a></li>
										<li id="menu-item-75" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75"><a href="/projects">Projects</a></li>
										<li id="menu-item-76" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76"><a href="/studio">Music</a></li>
										<li id="menu-item-77" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-77"><a href="/ticket">Video</a></li>
										<li id="menu-item-78" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78"><a href="/faq">Press</a></li>
									</ul>
									</li>
									<!-- <li id="menu-item-79" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-79"><a href="/news">Press</a>
									 <ul class="sub-menu">
										<li id="menu-item-985" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-985"><a href="/single-news">Single News</a></li>
									</ul>
									</li> -->
									<li id="menu-item-81" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81"><a href="/contact">Contact</a></li>
									</ul></div>
													<div>
														<div class="gutenverse-nav-identity-panel">
															<div class="gutenverse-nav-site-title">
																<a href="https://fse.jegtheme.com/randai" class="gutenverse-nav-logo"><img decoding="async" src="https://fse.jegtheme.com/randai/wp-content/uploads/sites/57/2025/02/new-logo-randai.png" alt="Randai - Theater &amp; Performing Arts Full Site Editing (FSE) WordPress Theme"></a>
															</div>
															<button class="gutenverse-close-menu"><i aria-hidden="true" class="gtn gtn-times-solid"></i></button>
														</div>
													</div>
											</div>
										</div>
									</div>
								</div>
								<div class="wp-block-gutenverse-column guten-element guten-column guten-qK0YF1 hide-tablet hide-mobile"><div class="guten-column-wrapper" data-id="qK0YF1">
									<div class="guten-element guten-button-wrapper guten-nJJyD5"><a class="guten-button guten-button-sm" href="#"><span>buy ticket</span></a></div>

									<div class="wp-block-gutenverse-icon guten-element guten-rY1DCY guten-icon hide-mobile"><a class="guten-icon-wrapper circle stacked" href="#off-canvas"><i class="gtn gtn-menu-11-light"></i></a></div>
									</div>
							</div>
					</div>
					</section>
				</div>

		     </div>
		   </div>
			</div>
		</section>
	  </div>


	 <!-- sidebar -->
		<div class="guten-element guten-popup-builder guten-eOGIoQ" data-trigger="click" data-anchor="off-canvas" data-close-overlay="true">
			<div class="guten-popup guten-popup-center guten-popup-side-center"><div class="guten-popup-overlay"></div><div class="guten-popup-wrapper guten-popup-wrapper-center"><div class="guten-popup-content animated guten-element-hide fast desktop-slideInRight"><div class="guten-popup-close"><i class="gtn gtn-times-solid"></i></div><div class="guten-popup-container">
		<div class="guten-element guten-popup-content-inner above"><div class="guten-popup-content-wrapper">
		<div class="section-wrapper" data-id="Od0GyW"><section class="wp-block-gutenverse-section guten-element guten-section guten-Od0GyW layout-boxed align-middle"><div class="guten-container guten-column-gap-no">
		<div class="wp-block-gutenverse-column guten-element guten-column guten-Zc6sZG"><div class="guten-column-wrapper" data-id="Zc6sZG">
		<div class="guten-element guten-wrap-helper no-margin guten-MW3j0n"><div class="guten-inner-wrap" data-id="MW3j0n">
		<div class="wp-block-gutenverse-image guten-element guten-image guten-TQ4Rwg"><div class="guten-image-wrapper"><img loading="lazy" decoding="async" class="gutenverse-image-box-filled" src="https://fse.jegtheme.com/randai/wp-content/uploads/sites/57/2025/02/new-logo-randai.png" height="257" width="954"/></div></div>



		<h4 class="wp-block-gutenverse-heading guten-element guten-eGPRGa">Useful Link</h4>
		<div class="guten-element guten-icon-list guten-Li9Oye">
		<div class="guten-element guten-icon-list-item guten-F7GZpx"><a id="guten-F7GZpx" href="#"><i class="far fa-dot-circle"></i><span class="list-text ">Home</span></a></div>
		<div class="guten-element guten-icon-list-item guten-6u3Bxz"><a id="guten-6u3Bxz" href="#"><i class="far fa-dot-circle"></i><span class="list-text ">Biography</span></a></div>
		<div class="guten-element guten-icon-list-item guten-XJKTiU"><a id="guten-XJKTiU" href="#"><i class="far fa-dot-circle"></i><span class="list-text ">News</span></a></div>
		<div class="guten-element guten-icon-list-item guten-Xx9OA9"><a id="guten-Xx9OA9" href="#"><i class="far fa-dot-circle"></i><span class="list-text ">Calendar</span></a></div>
		<div class="guten-element guten-icon-list-item guten-GQMMCl"><a id="guten-GQMMCl" href="#"><i class="far fa-dot-circle"></i><span class="list-text ">Projects</span></a></div>
		<div class="guten-element guten-icon-list-item guten-s1BhU3"><a id="guten-s1BhU3" href="#"><i class="far fa-dot-circle"></i><span class="list-text ">Music</span></a></div></div>
		<h4 class="wp-block-gutenverse-heading guten-element guten-ObxZkq">Contact</h4>
		<div class="guten-element guten-icon-list guten-iM9tnC">
		<div class="guten-element guten-icon-list-item guten-PcXkae"><a id="guten-PcXkae" href="#"><i class="far fa-dot-circle"></i><span class="list-text ">(900) 1280-0821</span></a></div>
		<div class="guten-element guten-icon-list-item guten-cXmJ5J"><a id="guten-cXmJ5J" href="#"><i class="far fa-dot-circle"></i><span class="list-text ">189 Sunset Road Street, Denpasar, DU 1199</span></a></div>
		<div class="guten-element guten-icon-list-item guten-sWTlgG"><a id="guten-sWTlgG" href="#"><i class="far fa-dot-circle"></i><span class="list-text ">+(62) 800-567-8990</span></a></div>
		<div class="guten-element guten-icon-list-item guten-9kKS8e"><a id="guten-9kKS8e" href="#"><i class="far fa-dot-circle"></i><span class="list-text "><span class="__cf_email__" data-cfemail="a0c3cfced4c1c3d4e0c4cfcdc1c9ce8ec3cfcd">[email&#160;protected]</span></span></a></div></div>
		<h4 class="wp-block-gutenverse-heading guten-element guten-pDFxN2">Social Media</h4>
		<div class="guten-element guten-social-icons guten-Z6MdGg square horizontal custom">
				<div class="guten-element guten-social-icon guten-mru58Y facebook"><a id="guten-mru58Y" href="#"><i class="gtn gtn-facebook-f"></i></a></div>
				<div class="guten-element guten-social-icon guten-ckCgnl twitter"><a id="guten-ckCgnl" href="#"><i class="fab fa-x-twitter"></i></a></div>
				<div class="guten-element guten-social-icon guten-g2FyfY youtube"><a id="guten-g2FyfY" href="#"><i class="fab fa-youtube"></i></a></div>
				<div class="guten-element guten-social-icon guten-DS9PAD whatsapp"><a id="guten-DS9PAD" href="#"><i class="gtn gtn-whatsapp-1-light"></i></a></div>
				<div class="guten-element guten-social-icon guten-h0nx4W telegram"><a id="guten-h0nx4W" href="#"><i class="gtn gtn-telegram-plane"></i></a></div>
		</div>
		</div>
	  </div>
		</div>
		</div>
			</div>
		</section>
	</div>
	</div>
	</div>
		<div class="guten-element guten-popup-content-inner bottom">
			<div class="guten-popup-content-wrapper">

			</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>