
          
          <%= form_with(model: @subscribe, local: true) do |f| %>
          <div class="row text-white d-flex align-items-center mt-4 g-3">
            <h5 class="text-md-start text-center">Join our newsletter</h5>
              <div class="col-12 col-lg-8">
                <%= f.email_field :email, class: "form-control py-3 fs-5", placeholder: "Your email", required: true %>
              </div>

              <div class="col-12 col-lg-4 text-md-end text-center">
                <%= f.submit "Subscribe", class: "py-3 px-4 w-100 w-md-auto text-white fs-5 comman-bg-color", style: "border: 2px solid grey; border-radius: 12px; color: white; font-size: 20px;" %>
              </div>
            </div>
          <% end %>



     